<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>

        <link href="/javascripts/extjs/resources/css/ext-all.css" rel="stylesheet" type="text/css">

        <script src = "/javascripts/extjs/ext-all-debug.js"></script>
        <script type="text/javascript" src="/api"></script>
        <script type="text/javascript" src="ui/app/app.js"></script>

    </head>
    <body>
        
    </body>
</html>